{% extends 'app/home_base.html' %} {% block devicelist %}

<main class="l-main" id="project_list">

    <div class="content-wrapper content-wrapper--with-bg">
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">Add
      Device</button>
        <h1 class="page-title">Device List</h1>


        <div class="page-content mb-3">
            <!-- Search form -->
            <div class="table-top">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width:20%">Device Name:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> Device 1</text></th>
                                <th style="width:33%">Selling price without installation:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> 1090</text></th>
                                <th style="width:33%">Installation cost for each device:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> 200</text></th>

                                <th style="width:14%">
                                    <div class="action-table  float-right">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
                                            <li data-toggle="modal" data-target="#editProductListing">
                                                <a href="#"> <i class="fas fa-edit"></i></a>
                                            </li>
                                            <li data-toggle="modal" data-target="#viewProductListing"><a href="#"><i class="fas fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </th>

                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>



                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Equipment</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Unit Purchase Price</th>
                            <th scope="col">Total Purchase Price</th>
                            <th scope="col">Selling Unit Price</th>
                            <th scope="col">Total Selling Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <td>Moniteur Stretch IIYAMA S3820HSB-B1 Brightsign LS424 + Carte SD</td>
                        <td>1</td>
                        <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</a>
                        </td>
                        <td>1093</td>
                        <td>1093</td>
                        <td>1366</td>
                        <td>1366</td>
                        </tr>
                        <tr>

                            <td>Supports moniteur</td>
                            <td>1</td>
                            <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</a>
                            </td>
                            <td>100</td>
                            <td>100</td>
                            <td>200</td>

                            <td>200</td>
                        </tr>
                        <tr>

                            <td>Brightsign LS424 + Carte SD</td>
                            <td>2</td>
                            <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                            <td>213</td>
                            <td>426</td>
                            <td>300</td>
                            <td>600</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page-content mb-3">
            <!-- Search form -->
            <div class="table-top">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width:20%">Device Name:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> Device 1</text></th>
                                <th style="width:33%">Selling price without installation:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> 1090</text></th>
                                <th style="width:33%">Installation cost for each device:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> 200</text></th>

                                <th style="width:14%">
                                    <div class="action-table  float-right">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
                                            <li>
                                                <a href="#"> <i class="fas fa-edit"></i></a>
                                            </li>
                                            <li data-toggle="modal" data-target="#embedModal"> <a href="#"><i class="fas fa-eye"  ></i></a></li>
                                        </ul>
                                    </div>
                                </th>

                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>



                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Equipment</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Unit Purchase Price</th>
                            <th scope="col">Total Purchase Price</th>
                            <th scope="col">Selling Unit Price</th>
                            <th scope="col">Total Selling Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <td>Moniteur Stretch IIYAMA S3820HSB-B1 Brightsign LS424 + Carte SD</td>
                        <td>1</td>
                        <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</a>
                        </td>
                        <td>1093</td>
                        <td>1093</td>
                        <td>1366</td>
                        <td>1366</td>
                        </tr>
                        <tr>

                            <td>Supports moniteur</td>
                            <td>1</td>
                            <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</a>
                            </td>
                            <td>100</td>
                            <td>100</td>
                            <td>200</td>

                            <td>200</td>
                        </tr>
                        <tr>

                            <td>Brightsign LS424 + Carte SD</td>
                            <td>2</td>
                            <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                            <td>213</td>
                            <td>426</td>
                            <td>300</td>
                            <td>600</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page-content mb-3">
            <!-- Search form -->
            <div class="table-top">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" style="width:20%">Device Name:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> Device 1</text></th>
                                <th style="width:33%">Selling price without installation:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> 1090</text></th>
                                <th style="width:33%">Installation cost for each device:<text style="font-family:Verdana, Geneva, Tahoma, sans-serif"> 200</text></th>

                                <th style="width:14%">
                                    <div class="action-table  float-right">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
                                            <li>
                                                <a href="#"> <i class="fas fa-edit"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </th>

                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>



                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Equipment</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Unit Purchase Price</th>
                            <th scope="col">Total Purchase Price</th>
                            <th scope="col">Selling Unit Price</th>
                            <th scope="col">Total Selling Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <td>Moniteur Stretch IIYAMA S3820HSB-B1 Brightsign LS424 + Carte SD</td>
                        <td>1</td>
                        <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</a>
                        </td>
                        <td>1093</td>
                        <td>1093</td>
                        <td>1366</td>
                        <td>1366</td>
                        </tr>
                        <tr>

                            <td>Supports moniteur</td>
                            <td>1</td>
                            <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</a>
                            </td>
                            <td>100</td>
                            <td>100</td>
                            <td>200</td>

                            <td>200</td>
                        </tr>
                        <tr>

                            <td>Brightsign LS424 + Carte SD</td>
                            <td>2</td>
                            <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                            <td>213</td>
                            <td>426</td>
                            <td>300</td>
                            <td>600</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="container popup-scroll">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Device Name</label> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device name">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Notes Of Device</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Device Status</label>
                            <select class="form-control form-group ">
                              <option value="0">Select Status:</option>
                              <option style="color: teal;" value="1">To Command</option>
                              <option value="2">On Command</option>
                              <option value="3">On Stock</option>
                              <option value="4">On Site</option>
                              <option value="4">Intsalled</option>
                              <option value="4">Tested</option>
                              <option value="4">Terminated</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Selling price without installation</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Selling price in %</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Installation cost for each device</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Discount / Device (€) depends project detail</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Sellign price for each device</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>

                        <div class="table-responsive form-group col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:25%;">Equipment Name</th>
                                        <th style="width:4%;">Quantity</th>
                                        <th style="width:25%;">Provider</th>
                                        <th style="width:4%;">Unit purchase price</th>
                                        <th style="width:4%;">Total purchase price</th>
                                        <th style="width:4%;">Selling unit price</th>
                                        <th style="width:4%;">Total selling price</th>
                                        <th style="width:4%;">Notes of equipment</th>
                                        <th style="width:12%;">Status of Equipment</th>
                                        <th style="width:15%;">Change Qty</th>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>

                                            <select class="from-dropdown">
                                          <option value="0">Select Status:</option>
                                          <option style="color:teal; font-weight: bolder;" value="1">To Command</option>
                                          <option value="2">On Command</option>
                                          <option value="3">On Stock</option>
                                          <option value="4">On Site</option>
                                          <option value="4">Intsalled</option>
                                          <option value="4">Tested</option>
                                          <option value="4">Terminated</option>
                                        </select>

                                        </td>
                                        <td>


                                            <div class="number-input md-number-input">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>

                                            <select class="from-dropdown">
                                        <option value="0">Select Status:</option>
                                        <option style="color: teal;" value="1">To Command</option>
                                        <option value="2">On Command</option>
                                        <option value="3">On Stock</option>
                                        <option value="4">On Site</option>
                                        <option value="4">Intsalled</option>
                                        <option value="4">Tested</option>
                                        <option value="4">Terminated</option>
                                      </select>

                                        </td>
                                        <td>


                                            <div class="number-input md-number-input">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>

                                            <select class="from-dropdown form-group ">
                                      <option value="0">Select Status:</option>
                                      <option style="color: teal;" value="1">To Command</option>
                                      <option value="2">On Command</option>
                                      <option value="3">On Stock</option>
                                      <option value="4">On Site</option>
                                      <option value="4">Intsalled</option>
                                      <option value="4">Tested</option>
                                      <option value="4">Terminated</option>
                                    </select>

                                        </td>
                                        <td>


                                            <div class="number-input md-number-input">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </td>
                                    </tr>

                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editProductListing" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="container popup-scroll">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Device Name</label> <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device 1">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Notes Of Device</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Device Status</label>
                            <select class="form-control">
                            <option value="0">Select Status:</option>
                            <option style="color: teal;" value="1">Loading installation</option>
                            <option value="2">Installed</option>
                            <option value="3">Tested</option>
                            <option value="4">Média to laod</option>
                            <option value="4">Terminated</option>
          
                          </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Selling price without installation</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Selling price in %</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Installation cost for each device</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Discount / Device (€) depends project detail</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Sellign price for each device</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">
                        </div>

                        <div class="table-responsive form-group col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:25%;">Equipment Name</th>
                                        <th style="width:4%;">Quantity</th>
                                        <th style="width:25%;">Provider</th>
                                        <th style="width:4%;">Unit purchase price</th>
                                        <th style="width:4%;">Total purchase price</th>
                                        <th style="width:4%;">Selling unit price</th>
                                        <th style="width:4%;">Total selling price</th>
                                        <th style="width:4%;">Notes of equipment</th>
                                        <th style="width:12%;">Status of Equipment</th>
                                        <th style="width:15%;">Change Qty</th>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>

                                            <select class="from-dropdown">
                                          <option value="0">Select Status:</option>
                                          <option style="color:teal; font-weight: bolder;" value="1">To Command</option>
                                          <option value="2">On Command</option>
                                          <option value="3">On Stock</option>
                                          <option value="4">On Site</option>
                                          <option value="4">Intsalled</option>
                                          <option value="4">Tested</option>
                                          <option value="4">Terminated</option>
                                        </select>

                                        </td>
                                        <td>


                                            <div class="number-input md-number-input">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>

                                            <select class="from-dropdown">
                                        <option value="0">Select Status:</option>
                                        <option style="color: teal;" value="1">To Command</option>
                                        <option value="2">On Command</option>
                                        <option value="3">On Stock</option>
                                        <option value="4">On Site</option>
                                        <option value="4">Intsalled</option>
                                        <option value="4">Tested</option>
                                        <option value="4">Terminated</option>
                                      </select>

                                        </td>
                                        <td>


                                            <div class="number-input md-number-input">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>

                                            <select class="from-dropdown form-group ">
                                      <option value="0">Select Status:</option>
                                      <option style="color: teal;" value="1">To Command</option>
                                      <option value="2">On Command</option>
                                      <option value="3">On Stock</option>
                                      <option value="4">On Site</option>
                                      <option value="4">Intsalled</option>
                                      <option value="4">Tested</option>
                                      <option value="4">Terminated</option>
                                    </select>

                                        </td>
                                        <td>


                                            <div class="number-input md-number-input">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                            </div>
                                        </td>
                                    </tr>

                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewProductListing" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Device Info </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="container popup-scroll">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Device Name</label> <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Device name">Device1</text>
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Notes Of Device</label>
                            <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">Can Be Used</text>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Status Of Device</label>
                            <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">Loading installation</text>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Selling price without installation</label>
                            <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">4567€</text>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Selling price in %</label>
                            <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">120%</text>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Installation cost for each device</label>
                            <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">2121€</text>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Discount / Device (€) depends project detail</label>
                            <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">Upto 20%</text>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Sellign price for each device</label>
                            <text type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">4999€</text>
                        </div>

                        <div class="table-responsive form-group col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Equipment Name</th>
                                        <th>Quantity</th>
                                        <th>Provider</th>
                                        <th>Unit purchase price</th>
                                        <th>Total purchase price</th>
                                        <th>Selling unit price</th>
                                        <th>Total selling price</th>
                                        <th>Notes of equipment</th>
                                        <th>Status of Equipment</th>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>Loading installation</td>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>Loading installation</td>
                                    </tr>
                                    <tr>
                                        <td>Moniteur Stretch IIYAMA S3820HSB-B1</td>
                                        <td>1</td>
                                        <td>http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1</td>
                                        <td>1093</td>
                                        <td> 1093</td>
                                        <td>1366</td>
                                        <td>1366</td>
                                        <td>Very UseFull</td>
                                        <td>Loading installation</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>
{% endblock %}