{% extends 'app/home_base.html' %} {% block equipment_listing %}


<main class="l-main" id="project_list">
    <div class="content-wrapper content-wrapper--with-bg">
        <h1 class="page-title">Equipment List</h1>
        <div class="page-content">
            <!-- Search form -->
            <div class="table-top">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">Add Equipment </button>

                <div class="clearfix"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Purchase price</th>
                            <th scope="col">Selling price</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001234</td>
                            <td style="width:12%">Moniteur Stretch IIYAMA S3820HSB-B1</td>
                            <td style="width:12%"></td>
                            <td style="width:18%"><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1/" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1/</a></td>
                            <td style="width:10%">1093€</td>
                            <td style="width:10%">1366€</td>

                            <td style="width:12%"></td>
                            <td style="width:8%"></td>

                            <td>
                                <div class="action-table">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
                                        <li>
                                            <a href="#"> <i class="fas fa-edit"></i></a>
                                        </li>
                                        <!-- <button type="button">duplicate<i class="fas fa-copy"></i></button> --></li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>001234</td>
                            <td>Supports moniteur</td>
                            <td></td>
                            <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1/" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1/</a></td>
                            <td>100€</td>
                            <td>200€</td>

                            <td></td>
                            <td></td>
                            <td>
                                <div class="action-table">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
                                        <li>
                                            <a href="#"> <i class="fas fa-edit"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>001234</td>
                            <td>Brightsign LS424 + Carte SD</td>
                            <td></td>
                            <td><a href="http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1/" target="_blank">http://fvs.fr/7-Display-Tv-Hospitality/13-Display-Lfd-Pfd/43369-Iiyama-S3820hsb-B1/</a></td>
                            <td>213€</td>
                            <td>300€</td>

                            <td></td>
                            <td></td>
                            <td>
                                <div class="action-table">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
                                        <li>
                                            <a href="#"> <i class="fas fa-edit"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



</main>


<!-- Modal Pop Up -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Equipment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="submit" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Equipment Name</label>
                                <input name="equipment_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Equipment Name">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Unit purchase price</label>
                                <input name="unit_purchase_price" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Provider">

                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Description</label>
                                <input name="description" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit purchase price excluding tax">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Unit selling price</label>
                                <input name="unit_selling_price" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit selling price">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Provider</label>
                                <input name="provider" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Notes of equipment">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Notes</label>
                                <input name="notes_eq" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Status of equipment">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Image of equipment</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input name="image_eq" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button action="equipmentsubmit" type="submit" value="submit" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}