{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet prefetch' href="{% static 'build/homePage/css/bootstrap.min.css' %}" >
<link rel='stylesheet prefetch' href="{% static 'build/homePage/css/main.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body class="sidebar-is-reduced">
  <header class="l-header">
    <div class="l-header__inner clearfix">
      <div class="c-header-icon js-hamburger">
        <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
      </div>
  
      <div class="c-search">
        <input class="c-search__input u-input" placeholder="Search..." type="text"/>
      </div>
      <div class="header-icons-group">
        <!-- <div class="c-header-icon has-dropdown"><span class="c-badge c-badge--header-icon animated shake">87</span><i class="fa fa-bell"></i>
          <div class="c-dropdown c-dropdown--notifications">
            <div class="c-dropdown__header"></div>
            <div class="c-dropdown__content"></div>
          </div>
        </div> -->
        <div class="c-header-icon logout"><i class="fa fa-power-off"></i></div>
      </div>
    </div>
  </header>
  <div class="l-sidebar">
    <div class="logo">
      <div class="logo__txt"><img src="{% static 'build/homePage/img/logo-icon.png' %}"></div>
    </div>
    <div class="l-sidebar__content">
      <nav class="c-menu js-menu">
        <ul class="u-list">

          <li class="c-menu__item" data-toggle="tooltip" onclick="location.href='/project-listing';" title="Project Listing">
            <div class="c-menu__item__inner"><i class="fas fa-project-diagram"></i>
              <div class="c-menu-item__title"><span >Project</span></div>
            </div>
          </li>

          <li class="c-menu__item is-active" onclick="location.href='/device-listing';" data-toggle="tooltip" title="Device Listing">
            <div class="c-menu__item__inner"><i class="fas fa-plug"></i>
              <div class="c-menu-item__title"><span>Device</span></div>
            </div>
          </li>

          <li class="c-menu__item has-submenu" onclick="location.href='/equipment-listing';" data-toggle="tooltip" title="Equipment Listing">
            <div class="c-menu__item__inner"><i class="fas fa-tools"></i>
              <div class="c-menu-item__title"><span>Equipment</span></div>
              </div>
          </li>

          <li class="c-menu__item has-submenu" data-toggle="tooltip" title="Users">
            <div class="c-menu__item__inner"><i class="fas fa-users"></i>
              <div class="c-menu-item__title"><span>Users</span></div>
            </div>
          </li>
         
       
        </ul>
      </nav>
    </div>
  </div>
</body>
{% block projectlist %}
{% endblock %}
{% block devicelist %}
{% endblock %}
{% block equipment_listing %}
{% endblock %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script><script src='https://use.fontawesome.com/2188c74ac9.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script>
</script>



<script>$.noConflict();
  jQuery(document).ready(function($){
    $("button").click(function(){
      $("p").text("jQuery is still working!");
    });
  });</script>
<script >"use strict";

var Dashboard = function () {
  var global = {
    tooltipOptions: {
      placement: "right"
    },
    menuClass: ".c-menu"
  };

  var menuChangeActive = function menuChangeActive(el) {
    var hasSubmenu = $(el).hasClass("has-submenu");
    $(global.menuClass + " .is-active").removeClass("is-active");
    $(el).addClass("is-active");

    // if (hasSubmenu) {
    //  $(el).find("ul").slideDown();
    // }
  };

  var sidebarChangeWidth = function sidebarChangeWidth() {
    var $menuItemsTitle = $("li .menu-item__title");

    $("body").toggleClass("sidebar-is-reduced sidebar-is-expanded");
    $(".hamburger-toggle").toggleClass("is-opened");

    if ($("body").hasClass("sidebar-is-expanded")) {
      $('[data-toggle="tooltip"]').tooltip("destroy");
    } else {
      $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
    }
  };

  return {
    init: function init() {
      $(".js-hamburger").on("click", sidebarChangeWidth);

      $(".js-menu li").on("click", function (e) {
        menuChangeActive(e.currentTarget);
      });

      $('[data-toggle="tooltip"]').tooltip(global.tooltipOptions);
    }
  };
}();

Dashboard.init();
//# sourceURL=pen.js


</script>
</body>

</html
