{% extends 'app/home_base.html' %}
{% block projectlist %}


<main class="l-main" id="project_list">
  <div class="content-wrapper content-wrapper--with-bg">
    <h1 class="page-title">Project List</h1>
    <div class="page-content">
      <!-- Search form -->
      <div class="table-top">
<input class="form-control" type="text" placeholder="Search" aria-label="Search">
<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">Add Project</button>

<div class="clearfix"></div>
</div>
<div class="table-responsive">
   <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Project ID</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Contact</th>
          <th scope="col">Delivery date</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001234</td>
          <td>Project 1</td>
          <td>France</td>
          <td>+33-98765-12345</td>
          <td>02-Feb-2020</td>
          <td><div class="complete">Completed</div></td>
        
          <td>
            <div class="action-table">
              <ul>
                <li>
                  <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
           <li> <a href="#"> <i class="fas fa-edit"></i></a> </li>
           <li><a href="#"><i class="fas fa-eye"></i></a></li>
           <li>
            <a href="#"><i class="fas fa-copy"></i></a> 
            <!-- <button type="button">duplicate<i class="fas fa-copy"></i></button> --></li>
          </ul>
          </div>
          </td>
          <td><div class="anil_nepal">
            <label class="switch switch-left-right">
              <input class="switch-input" type="checkbox">
              <span class="switch-label" data-on="Active" data-off="Deactive"></span> <span class="switch-handle"></span> </label>
          </div></td>
        </tr>
        <tr>
          <td>001234</td>
          <td>Project 2</td>
          <td>France</td>
          <td>+33-98765-12345</td>
          <td>02-Feb-2020</td>

          <td><div class="complete">Completed</div></td>
          <td>
            <div class="action-table">
              <ul>
                <li>
           <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
           <li> <a href="#"> <i class="fas fa-edit"></i></a> </li>
           <li><a href="#"><i class="fas fa-eye"></i></a></li>
           <li>
            <a href="#"><i class="fas fa-copy"></i></a></li>
          </ul>
          </div>
          </td>
          <td><div class="anil_nepal">
            <label class="switch switch-left-right">
              <input class="switch-input" type="checkbox">
              <span class="switch-label" data-on="Active" data-off="Deactive"></span> <span class="switch-handle"></span> </label>
          </div></td>
        </tr>
        <tr>
          <td>001234</td>
          <td>Project 3</td>
          <td>France</td>
          <td>+33-98765-12345</td>
          <td>02-Feb-2020</td>
          <td><div class="ranning">Running</div></td>
          <td>
            <div class="action-table">
              <ul>
                <li>
           <a href="#"><i class="fas fa-trash-alt"></i></a> </li>
           <li> <a href="#"> <i class="fas fa-edit"></i></a> </li>
           <li><a href="#"><i class="fas fa-eye"></i></a></li>
           <li>
            <a href="#"><i class="fas fa-copy"></i></a></li>
          </ul>
          </div>
          </td>
          <td><div class="anil_nepal">
            <label class="switch switch-left-right">
              <input class="switch-input" type="checkbox">
              <span class="switch-label" data-on="Active" data-off="Deactive"></span> <span class="switch-handle"></span> </label>
          </div></td>
       
        </tr>
      </tbody>
    </table></div>
  </div>

  </div>
  


</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="container">
<form id="taskitem_form" method="post" action="">
{% csrf_token %}

<div class="row">
  <form id="taskitem_form" method="post" action="">
    {% csrf_token %}
  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Project Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Project name">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Location</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location">

  </div>
  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Contact</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mobile no">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Delivery date</label>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="date">
  </div>
  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Number of human day of work</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Number of human day of work">
  </div>
  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Number of technician</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Number of technician">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Number of day at X technician</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Number of day at X technician">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Number of Week</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Number of Week">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Km round trip</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Km round trip">
  </div>


  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">KM cost</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="KM cost">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Toll</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Toll">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Nb of vehicules</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nb of vehicules">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Cost of road</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cost of road">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Accomodation per week</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Accomodation per week">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Accomodation total</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Accomodation total">
  </div>

  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Cost of meal / day</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cost of meal / day">
  </div>
  <div class="form-group col-md-4">
    <label for="exampleInputEmail1">Total cost of meal</label>
    <input type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Total cost of meal">
  </div></form>


</div>

       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}